frontend-workspace/.env
frontend-workspace/node_modules/*
frontend-workspace/tests/*
frontend-workspace/.next/*
operator/.env
operator/config/config
log-services
operator/.air.toml
operator/tmp/*
backend/tmp/*
backend/config/config
backend/.env
ws-cli
workspace-terminal
